.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.rootunnamedVariant {
  padding-bottom: 84px;
}
:where(.rootunnamedVariant > *) {
  grid-column: 4;
}
.section__ykvBg {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  justify-self: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background: #000000;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 50px 0px 0px;
}
:where(.section__ykvBg > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.section__ykvBg > *) {
    grid-column: 4;
  }
}
.sectionunnamedVariant__ykvBgzhk3W {
  background: #020000;
}
:where(.sectionunnamedVariant__ykvBgzhk3W > *) {
  grid-column: 4;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  max-width: 875px;
  color: #ffffff;
  min-width: 0;
}
.text___2BGgu {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  color: #ffffff;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
}
.li___75BDq {
  color: #ffffff;
}
.li__pGLv8 {
  color: #fcfbfb;
}
.li___62U3 {
  color: #ffffff;
}
.li___2Lagg {
  color: #ffffff;
}
.iframe:global(.__wab_instance) {
  width: 848px;
  height: 511px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  justify-self: auto;
  margin-bottom: 51px;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-top: 50px;
  border-radius: 20px;
  border-width: 0.5px;
  border-style: solid;
}
.iframeunnamedVariant:global(.__wab_instance) {
  margin-bottom: 0px;
  height: 560px;
}
.button__wIu6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 182px;
  height: 56px;
  margin-bottom: 18px;
}
.buttonunnamedVariant__wIu6Zhk3W:global(.__wab_instance) {
  display: none;
}
.svg__xb0XZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___3Jf9X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: 38px;
  box-shadow: 0px 4px 16px 0px #00000033;
  height: 331px;
  margin-bottom: 70px;
  min-width: 0;
  border-radius: 20px;
  padding: 16px;
  border-width: 0.5px;
  border-style: solid;
}
.tableunnamedVariant:global(.__wab_instance) {
  display: none;
}
.section___3HjFg {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  box-shadow: 0px 4px 16px 0px #00000033;
  justify-self: flex-start;
  display: grid;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  border-radius: 20px;
  padding: 8px 0;
  border-width: 0.5px;
  border-style: solid;
}
:where(.section___3HjFg > *) {
  grid-column: 4;
}
.sectionunnamedVariant___3HjFgzhk3W {
  margin-top: 84px;
  padding-right: 8px;
  padding-left: 8px;
  height: 472px;
  justify-items: center;
  align-content: center;
  display: plasmic-content-layout;
}
:where(.sectionunnamedVariant___3HjFgzhk3W > *) {
  grid-column: 4;
}
.freeBox__olXqG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant__olXqGzhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text__eexJa {
  align-self: flex-start;
}
.textunnamedVariant__eexJAzhk3W {
  display: block;
}
.h3__mm0Lg {
  text-align: left;
}
.h3___922Im {
  font-size: 40px;
}
.text__uirfH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant__uirfHzhk3W {
  display: block;
}
.freeBox__wRuUz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant__wRuUZzhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  width: 197px;
  flex-shrink: 0;
}
.textInput2unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg__wpPw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dsU6Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__eotfb:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__eotfBzhk3W:global(.__wab_instance) {
  display: flex;
}
.text__p5FIa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__btdIs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tqgJf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__bpWbF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant__bpWbFzhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text__o6RTh {
  align-self: flex-start;
}
.textunnamedVariant__o6RThzhk3W {
  display: block;
}
.h3__rxTow {
  text-align: left;
}
.h3__fsYaS {
  font-size: 40px;
}
.text__lgRb2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant__lgRb2Zhk3W {
  display: block;
}
.freeBox__pfxvW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant__pfxvWzhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
  flex-shrink: 0;
}
.textInput3unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg___2ZXbV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xSuyI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__cglBy:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__cglByzhk3W:global(.__wab_instance) {
  display: flex;
}
.text__hSIt8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__iLiAt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__apUls {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__lweIo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant__lweIozhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text___0MOwT {
  align-self: flex-start;
}
.textunnamedVariant___0MOwTzhk3W {
  display: block;
}
.h3___5KKwo {
  text-align: left;
}
.h3___4TL2S {
  font-size: 40px;
}
.text__tN2GG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant__tN2GGzhk3W {
  display: block;
}
.freeBox___0LBwj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant___0LBwjzhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput4:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
  flex-shrink: 0;
}
.textInput4unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg__e0PTj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bvXcK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__iu0WS:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__iu0WSzhk3W:global(.__wab_instance) {
  display: flex;
}
.text__qSSyj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___1WRVu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__p5J3L {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__cb05G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant__cb05Gzhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text___3G0Xm {
  align-self: flex-start;
}
.textunnamedVariant___3G0Xmzhk3W {
  display: block;
}
.h3__wiNY {
  text-align: left;
}
.h3__uErGr {
  font-size: 40px;
}
.text__h3Az {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant__h3AZzhk3W {
  display: block;
}
.freeBox__nfrac {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant__nfraczhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput5:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
  flex-shrink: 0;
}
.textInput5unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg___3Thjw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___9PqIv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__phxp2:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__phxp2Zhk3W:global(.__wab_instance) {
  display: flex;
}
.text__gHRzf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__erl6D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fk7Ju {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__dI1Zu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant__dI1ZUzhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text__kmi3R {
  align-self: flex-start;
}
.textunnamedVariant__kmi3Rzhk3W {
  display: block;
}
.h3__mHefY {
  text-align: left;
}
.h3__m0HV {
  font-size: 40px;
}
.text___9XhXx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant___9XhXXzhk3W {
  display: block;
}
.freeBox__aNbmV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant__aNbmVzhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput6:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
  flex-shrink: 0;
}
.textInput6unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg__yQgsq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__m0PvY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__xudlc:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__xudlCzhk3W:global(.__wab_instance) {
  display: flex;
}
.text__glYj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__z6L6V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___66QLv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___9NKly {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant___9NKlyzhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text__eZahT {
  align-self: flex-start;
}
.textunnamedVariant__eZahTzhk3W {
  display: block;
}
.h3__u1Fy {
  text-align: left;
}
.h3__dPVyV {
  font-size: 40px;
}
.text__fhAuv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant__fhAuVzhk3W {
  display: block;
}
.freeBox___7YDgr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant___7YDgrzhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput7:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
  flex-shrink: 0;
}
.textInput7unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg__eVvKu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uuSvh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__cOuXy:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__cOuXYzhk3W:global(.__wab_instance) {
  display: flex;
}
.text__vhn8U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__ygJeo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ukD87 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___0Gn6N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant___0Gn6Nzhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text___6AZrR {
  align-self: flex-start;
}
.textunnamedVariant___6AZrRzhk3W {
  display: block;
}
.h3__sb0ZV {
  text-align: left;
}
.h3__xzX2V {
  font-size: 40px;
}
.text___8HZtT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant___8HZtTzhk3W {
  display: block;
}
.freeBox__zCgK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant__zCgKzhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput8:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
  flex-shrink: 0;
}
.textInput8unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg___028Mr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tBsah {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__tfD:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__tfDZhk3W:global(.__wab_instance) {
  display: flex;
}
.text__zFhyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__qvCj6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___1RnP2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__l3ZGb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 395px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBoxunnamedVariant__l3ZGBzhk3W {
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text__zX0J {
  align-self: flex-start;
}
.textunnamedVariant__zX0Jzhk3W {
  display: block;
}
.h3__lkdEw {
  text-align: left;
}
.h3__bWn0T {
  font-size: 40px;
}
.text__voZuF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 16px;
  min-width: 0;
}
.textunnamedVariant__voZuFzhk3W {
  display: block;
}
.freeBox___5PXq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBoxunnamedVariant___5PXqzhk3W {
  padding-left: 0px;
  display: flex;
}
.textInput9:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
  flex-shrink: 0;
}
.textInput9unnamedVariant:global(.__wab_instance) {
  display: flex;
}
.svg__wJu5C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zohxM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ri4C7:global(.__wab_instance) {
  margin-left: 10px;
}
.buttonunnamedVariant__ri4C7Zhk3W:global(.__wab_instance) {
  display: flex;
}
.text__qdCbt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__gIh5Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___8DfPa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
