.plasmic_tokens {
  --token-oxoqSnadYGm8: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-oxoqSnadYGm8);
  --token-l-twN8_OMfeN: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-l-twN8_OMfeN);
  --token-0BTnVnmpJbzJ: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-0BTnVnmpJbzJ);
  --token-NxwZ0eP4RNgh: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-NxwZ0eP4RNgh);
  --token-KDO1fH2rPVxR: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-KDO1fH2rPVxR);
  --token-ZecPEaSaxo-9: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-ZecPEaSaxo-9);
  --token-7nkep5DYCfgG: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-7nkep5DYCfgG);
  --token-GNBv-NKX_2o3: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-GNBv-NKX_2o3);
  --token-BK8-xjCYAQJy: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token-BK8-xjCYAQJy);
  --token-Fko2Iff-Jalt: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-Fko2Iff-Jalt);
  --token-PpZ73Q5JP1Ig: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-PpZ73Q5JP1Ig);
  --token-P0mEh6v8QY-_: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-P0mEh6v8QY-_);
  --token-fokrCGxPvTZp: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-fokrCGxPvTZp);
  --token-fI-hB-HdFj3c: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-fI-hB-HdFj3c);
  --token-7ZKzgIGP8wWX: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-7ZKzgIGP8wWX);
  --token-efESy8rGnYUw: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-efESy8rGnYUw);
  --token-HSdpbQZFkfCN: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-HSdpbQZFkfCN);
  --token-8rYHg3HTkiDj: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-8rYHg3HTkiDj);
  --token-sUnpSRjvd2lG: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-sUnpSRjvd2lG);
  --token-fYN3K1PqXg2u: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-fYN3K1PqXg2u);
  --token-D19YOypqbDgz: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-D19YOypqbDgz);
  --token-9PzokcZJOtG-: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-9PzokcZJOtG-);
  --token-0eV-JI1q85BV: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token-0eV-JI1q85BV);
  --token-aVuqlFX5jc4Z: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-aVuqlFX5jc4Z);
  --token-t7rWLkX8AkUf: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-t7rWLkX8AkUf);
  --token-Yb2LhSKj3PLK: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-Yb2LhSKj3PLK);
  --token-jQPYVuWyeEEv: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-jQPYVuWyeEEv);
  --token-slknUT4EnhS7: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-slknUT4EnhS7);
  --token-_7nV2YrSc8aZ: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-_7nV2YrSc8aZ);
  --token-J2jbTb38Cyre: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-J2jbTb38Cyre);
  --token-4_dc5NDTOlz8: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-4_dc5NDTOlz8);
  --token-m6SMeL1ortmb: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-m6SMeL1ortmb);
  --token-SGI5OSKtej1R: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-SGI5OSKtej1R);
  --token-o_KQN7vpFzK8: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-o_KQN7vpFzK8);
  --token-J6Q8VHBOHPo2: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-J6Q8VHBOHPo2);
  --token-zxzQsowQ6TvY: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-zxzQsowQ6TvY);
  --token-lVSJ8_huICdb: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-lVSJ8_huICdb);
  --token-c0zcnmYwkA-M: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-c0zcnmYwkA-M);
  --token-Lp47L3eKzM8h: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-Lp47L3eKzM8h);
  --token-6VChg4kqdkzT: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-6VChg4kqdkzT);
  --token-qRnb2_PrGdlT: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-qRnb2_PrGdlT);
  --token-50GFnylIplpR: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-50GFnylIplpR);
  --token-hQJJrnl_d1o6: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-hQJJrnl_d1o6);
  --token-AsSguYSpS6yy: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-AsSguYSpS6yy);
  --token-XclO5K8k_2I6: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-XclO5K8k_2I6);
  --token-SThM1IZcsf-0: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-SThM1IZcsf-0);
  --token-IBmNQKnYcFq0: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-IBmNQKnYcFq0);
  --token-PZywQ0ow9sjE: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-PZywQ0ow9sjE);
  --token-IXjexDIcakrV: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-IXjexDIcakrV);
  --token-eZaRRL0j4-nH: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-eZaRRL0j4-nH);
  --token-wPLp4SYmVQ-H: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-wPLp4SYmVQ-H);
  --token-xWriXibxDL8I: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-xWriXibxDL8I);
  --token-v_oaKj55Oj-L: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-v_oaKj55Oj-L);
  --token-vkz79BY8OxJJ: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-vkz79BY8OxJJ);
  --token-Z_cVPE_wyyAJ: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-Z_cVPE_wyyAJ);
  --token-oOpWcsveuqdP: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-oOpWcsveuqdP);
  --token-CoS6a76dUqlf: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-CoS6a76dUqlf);
  --token-rN0s-C8Fn5Uk: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-rN0s-C8Fn5Uk);
  --token-oyGnURNtIMvr: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-oyGnURNtIMvr);
  --token-3Jmd-VeiZi22: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-3Jmd-VeiZi22);
  --token--D4AlpFQVxWy: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token--D4AlpFQVxWy);
  --token-GSA9z0nH1F78: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-GSA9z0nH1F78);
  --token-GW0oxtdIdmXO: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-GW0oxtdIdmXO);
  --token-pPKziAj8jVU_: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-pPKziAj8jVU_);
  --token-vcBM2kMw1Hya: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-vcBM2kMw1Hya);
  --token-a8lUUeXtJo7Z: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-a8lUUeXtJo7Z);
  --token-ThOomZ6VWeZ4: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-ThOomZ6VWeZ4);
  --token--lY3TVCec7Qn: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token--lY3TVCec7Qn);
  --token-iAiPS_BRGhCX: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-iAiPS_BRGhCX);
  --token-bJdNFxzhDoBj: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-bJdNFxzhDoBj);
  --token-DRs229tqNI4V: var(--antd-paddingXXS);
  --plasmic-token-system-padding-xxs: var(--token-DRs229tqNI4V);
  --token-55GsxOrBiQWy: var(--antd-paddingXS);
  --plasmic-token-system-padding-xs: var(--token-55GsxOrBiQWy);
  --token-JrV2j36oZDTD: var(--antd-paddingSM);
  --plasmic-token-system-padding-sm: var(--token-JrV2j36oZDTD);
  --token-t-RA8Me8dwiD: var(--antd-padding);
  --plasmic-token-system-padding-m: var(--token-t-RA8Me8dwiD);
  --token-g_ssuvrZzUsx: var(--antd-paddingMD);
  --plasmic-token-system-padding-md: var(--token-g_ssuvrZzUsx);
  --token-h4kuO0uNXfWm: var(--antd-paddingLG);
  --plasmic-token-system-padding-lg: var(--token-h4kuO0uNXfWm);
  --token-7a16OEP2J8BA: var(--antd-paddingXL);
  --plasmic-token-system-padding-xl: var(--token-7a16OEP2J8BA);
  --token-u27nj2-Ju6YW: var(--antd-marginXXS);
  --plasmic-token-system-margin-xxs: var(--token-u27nj2-Ju6YW);
  --token-iTN8UNlBzyr_: var(--antd-marginXS);
  --plasmic-token-system-margin-xs: var(--token-iTN8UNlBzyr_);
  --token-UZKlumajfov6: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-UZKlumajfov6);
  --token-SizJ7aLG9b3W: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-SizJ7aLG9b3W);
  --token-GsRPvdkHgoDb: var(--antd-marginMD);
  --plasmic-token-system-margin-md: var(--token-GsRPvdkHgoDb);
  --token-Xy76niRueRTe: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-Xy76niRueRTe);
  --token-sA-RieDEUSNN: var(--antd-marginXL);
  --plasmic-token-system-margin-xl: var(--token-sA-RieDEUSNN);
  --token-nDQddmlPm4Yv: var(--antd-marginXXL);
  --plasmic-token-system-margin-xxl: var(--token-nDQddmlPm4Yv);
  --token-2Mmqm2ZYSFt4: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-2Mmqm2ZYSFt4);
  --token-PZ8CydGzC60G: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-PZ8CydGzC60G);
  --token-Vp-J4v61NRo3: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-Vp-J4v61NRo3);
  --token-mXSyJ5QbcgTz: var(--antd-fontSizeXL);
  --plasmic-token-system-xl: var(--token-mXSyJ5QbcgTz);
  --token-0EK3rdngXlR6: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-0EK3rdngXlR6);
  --token-zMpoF7_MS9b2: var(--antd-fontSizeHeading2);
  --plasmic-token-system-heading-2: var(--token-zMpoF7_MS9b2);
  --token-8qoPa6agf60U: var(--antd-fontSizeHeading3);
  --plasmic-token-system-heading-3: var(--token-8qoPa6agf60U);
  --token-dx58tyuKSQPh: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-dx58tyuKSQPh);
  --token-wRQ-3wWPx-En: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-wRQ-3wWPx-En);
  --token-g9goK08LUc5r: var(--antd-lineHeight);
  --plasmic-token-system-m: var(--token-g9goK08LUc5r);
  --token-atBkMW3_3ZFs: var(--antd-lineHeightLG);
  --plasmic-token-system-lg: var(--token-atBkMW3_3ZFs);
  --token-kUam4MvcB1OZ: var(--antd-lineHeightSM);
  --plasmic-token-system-sm: var(--token-kUam4MvcB1OZ);
  --token-DfsnL4_m5Nbd: var(--antd-lineHeightHeading1);
  --plasmic-token-system-heading-1: var(--token-DfsnL4_m5Nbd);
  --token-BQxkYeHkdukL: var(--antd-lineHeightHeading2);
  --plasmic-token-system-heading-2: var(--token-BQxkYeHkdukL);
  --token-okPLmNPfAoD3: var(--antd-lineHeightHeading3);
  --plasmic-token-system-heading-3: var(--token-okPLmNPfAoD3);
  --token-RyXZla3fWt_s: var(--antd-lineHeightHeading4);
  --plasmic-token-system-heading-4: var(--token-RyXZla3fWt_s);
  --token-r4w5b2EBWiVm: var(--antd-lineHeightHeading5);
  --plasmic-token-system-heading-5: var(--token-r4w5b2EBWiVm);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
